doctype html
html
  head
    title= 'Debug with vscode'
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0', name='viewport')
    block head
  body
    block content
